*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Color Palette */
#ht-mobile-header {
  height: 50px;
  background: #222222;
  padding: 10px;
  background: #222;
  color: #EEE;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#ht-mobile-content {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 50px;
}
#ht-mobile-title {
  width: 90%;
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
}
#ht-mobile-menu {
  width: 10%;
  display: inline-block;
  text-align: center;
  font-size: 22px;
}
.ht-mobile-module {
  display: block;
  overflow-x: auto;
}
.ht-mobile-widget {
  display: inline-block;
  float: left;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Mobile Expose */
#ht-mobile-expose {
  background: #222;
  color: #FFF;
  padding: 20px;
}
#ht-mobile-expose .ht-mobile-expose-header {
  font-size: 20px;
}
#ht-mobile-expose .ht-mobile-expose-wrap {
  margin-top: 45px;
}
#ht-mobile-expose .ht-mobile-expose-wrap .ht-mobile-expose-module {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}
