<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 visible-xs-block">

        </div>
        <div class="col-sm-12 hidden-xs">
        	<div style="height:100px;">
				<iframe style="overflow-y:scroll; border:none;" src="https://osf.io/piwik/index.php?module=Widgetize&amp;action=iframe&amp;moduleToWidgetize=Dashboard&amp;actionToWidgetize=index&amp;idSite=811&amp;period=day&amp;date=today&amp;disableLink=1&amp;token_auth=anonymous"></iframe>
			</div>
        </div>
    </div>
</div>



                project list-group-item list-group-item-node cite-container
                
        