 <style>
    .ht-fork-li{
        list-style:none;
    }
    .ht-fork-ul{
        padding: 10px;
    }
    .ht-fork-div{
        border:1px #ddd solid;
        padding:5px;
        margin-top:20px;"
    }
    .ht-fork-bar-green{
        height:10px;
        width:40%;
        background-color:#89A54E;
        display:inline-block;
    }
    .ht-fork-bar-blue{
        height:10px;
        width:40%;
        background-color:#4572A7;
        display:inline-block;
    }

 </style>
 <div class="container-fluid">
     <div class="row">

    <div id="ht-forks-widget" class="visible-xs ht-widgetize t-light no-flow" data-color="bg-dark-turquaz" >
    <div class="p-md">
        <h2 style="text-align: center"> 3 </h2>
        <p class='lead' style="text-align: center">Public Forks</strong> </p>
        <h2 style="text-align: center"> 1 </h2>
        <p class='lead' style="text-align: center">Private Fork</strong> </p>
        
    </div>
 </div>

         <div class="col-sm-12 hidden-xs">
         <ul class="ht-fork-ul">
            <li class="ht-fork-li">
                <div class="ht-fork-div">
                    <p class='lead' style="color: #2a6496;"><strong>Fork of Reproducability Project: Cancer Biology</strong></p>
                    <p style=""> Schiller</p>
                    <span class="ht-fork-bar-green" style="width:40%"></span><span class="ht-fork-bar-blue" style="width:35%"></span><span> 32 contributions</span>
                </div> 
            </li>

            <li class="ht-fork-li">
                <div class="ht-fork-div">
                    <p class='lead' style="color: #2a6496;"><strong>Fork of Reproducability Project: Cancer Biology</strong></p>
                    <p style=""> Uguz</p>
                    <span class="ht-fork-bar-green" style="width:20%"></span><span class="ht-fork-bar-blue" style="width:55%"></span><span> 132 contributions</span>
                </div> 
            </li>

            <li class="ht-fork-li">
                <div class="ht-fork-div">
                    <p class='lead' style="color: #2a6496;"><strong>Fork of Reproducability Project: Cancer Biology</strong></p>
                    <p style=""> Huynh</p>
                    <span class="ht-fork-bar-green" style="width:10%"></span><span class="ht-fork-bar-blue" style="width:65%"></span><span> 52 contributions</span>
                </div> 
            </li>
            <li class="ht-fork-li">
                <div class="ht-fork-div" style="border:1px #ddd dashed;">
                    <p class='lead' style="color: black;"><strong>Private Fork</strong></p>
                </div> 
            </li>


         </div>
