<style>

.list-group-item{
    border:1px;
}

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 visible-xs-block xs-widget">
        <ul style="list-style-type: none; padding:0">
            <li style="border: solid 1px gray; padding:5px;  ">

        <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/m7xpc/">Fork of Temp Project</a>

            </span>
        </h4>
        <div class="list-group-item-text"></div>

        <!-- Show abbreviated contributors list -->
        <div class="project-authors">
        <a class="contributor-name" rel="tooltip" href="/rnizy/" data-original-title="Alex Schiller">Schiller</a>
<span></span>
</div>

        </div>
        </li>
        </ul>
        <div class="col-sm-12 hidden-xs">
        	here be fork2
        </div>
    </div>
</div>