
<div id="ht-wiki-widget" class="visible-xs ht-widgetize t-light no-flow" data-color="bg-dark-green" >
    <div class="p-md">
        <p><strong>2014-09-09 04:41 PM :</strong> Tim Errington added Anne Allison to project Replication Studies </p>
        <div class="pull-right"> Next <i class="fa fa-chevron-right"></i> </div>
        <div class="pull-left"><i class="fa fa-chevron-left"></i> Prev </div>
    </div>
</div>



<div class="hidden-xs ht-page">
<div class="p-md">

    <div class="container-fluid">
    <div class="row">
        <p>All times displayed at -0400 UTC offset.</p>

        <table class="table table-condensed">
            <tr>
                <td>
                    2014-09-09 04:41 PM
                </td>
                <td>
                    Tim Errington added Anne Allison to project Replication Studies
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-09 04:41 PM
                </td>
                <td>
                    Tim Errington added Anne Allison to project Reproducibility Project: Cancer Biology
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-09 04:38 PM
                </td>
                <td>
                    Tim Errington updated wiki page studies to version 3 of Reproducibility Project: Cancer Biology
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-05 03:36 PM
                </td>
                <td>
                    Tim Errington added file Full_dataset_of_papers_formatted.xls to project Reproducibility Project: Cancer Biology
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-09 04:41 PM
                </td>
                <td>
                    Tim Errington added Anne Allison to project Replication Studies
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-09 04:41 PM
                </td>
                <td>
                    Tim Errington added Anne Allison to project Reproducibility Project: Cancer Biology
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-09 04:38 PM
                </td>
                <td>
                    Tim Errington updated wiki page studies to version 3 of Reproducibility Project: Cancer Biology
                </td>
            </tr>
            <tr>
                <td>
                    2014-09-05 03:36 PM
                </td>
                <td>
                    Tim Errington added file Full_dataset_of_papers_formatted.xls to project Reproducibility Project: Cancer Biology
                </td>
            </tr>
        </table>


        </div>
    </div>
</div>
</div>