<div class="p-md">
    <ul class="list-group ">

        <li node_id="2svdj" node_reference="2svdj:node" class="
                project list-group-item list-group-item-node cite-container

        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/2svdj/">Popular press stories</a>

            </span>
            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/cdi38/" data-original-title="Brian A. Nosek">Nosek</a>
                <span>,</span>
                <a class="contributor-name" rel="tooltip" href="/jk5cv/" data-original-title="Jeffrey R. Spies">Spies</a>
                <span>,</span>
                <a class="contributor-name" rel="tooltip" href="/uamiq/" data-original-title="Elizabeth Bartmess">Bartmess</a>
                <span>&nbsp;&amp;</span>
                <a href="/2svdj/">2 more</a>
            </div>

            <!--Stacked bar to visualize user activity level against total activity level of a project -->
            <!--Length of the stacked bar is normalized over all projects -->




        </li>


        <li node_id="aaudl" node_reference="aaudl:node" class="
                project list-group-item list-group-item-node cite-container

        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/aaudl/">Replication of Janiszewski &amp; Uy (2008, PS, Study 4b)</a>

            </span>

                <div class="pull-right">
                    <i id="icon-aaudl" class="icon-plus" onclick="NodeActions.openCloseNode('aaudl');" data-toggle="tooltip" title="" data-original-title="More"></i>
                </div>
            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/ubit5/" data-original-title="Jesse J. Chandler">Chandler</a>
                <span></span>
            </div>
        </li>


        <li node_id="hasfu" node_reference="hasfu:node" class="
                project list-group-item list-group-item-node cite-container

        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/hasfu/">Replication of Reynolds &amp; Besner (2008, JEP:LMC, Study 5)</a>

            </span>

            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/k5kdu/" data-original-title="Calvin Lai">Lai</a>
                <span>,</span>
                <a class="contributor-name" rel="tooltip" href="/kvfid/" data-original-title="Anita Alexander">Alexander</a>
                <span>&nbsp;&amp;</span>
                <a class="contributor-name" rel="tooltip" href="/ckamu/" data-original-title="William B Simpson">Simpson</a>
                <span></span>
            </div>
        </li>


        <li node_id="c5fza" node_reference="c5fza:node" class="
                project list-group-item list-group-item-node cite-container

        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/c5fza/">Replication of Richeson &amp; Trawalter (2008, PS, Study 1)</a>

            </span>

                <div class="pull-right">
                    <i id="icon-c5fza" class="icon-plus" onclick="NodeActions.openCloseNode('c5fza');" data-toggle="tooltip" title="" data-original-title="More"></i>
                </div>
            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/k5kdu/" data-original-title="Calvin Lai">Lai</a>
                <span></span>
            </div>

            <!--Stacked bar to visualize user activity level against total activity level of a project -->
            <!--Length of the stacked bar is normalized over all projects -->




        </li>


        <li node_id="rc6mv" node_reference="rc6mv:node" class="
                project list-group-item list-group-item-node cite-container

        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/rc6mv/">Replication of Payne, Burkley &amp; Stokes (2008, JPSP, Study 4)</a>

            </span>

                <div class="pull-right">
                    <i id="icon-rc6mv" class="icon-plus" onclick="NodeActions.openCloseNode('rc6mv');" data-toggle="tooltip" title="" data-original-title="More"></i>
                </div>
            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/d42gk/" data-original-title="Michelangelo Vianello">Vianello</a>
                <span></span>
            </div>

            <!--Stacked bar to visualize user activity level against total activity level of a project -->
            <!--Length of the stacked bar is normalized over all projects -->




        </li>


        <li node_id="q7f6w" node_reference="q7f6w:node" class="
                project list-group-item list-group-item-node cite-container
        ">

            <h4 class="list-group-item-heading">
            <span class="overflow" style="display:inline-block;">

            <a href="/q7f6w/">Replication of Dai, Wertenbroch, &amp; Brendl (2008, PS, Study 1)</a>

            </span>
            </h4>
            <div class="list-group-item-text"></div>

            <!-- Show abbreviated contributors list -->
            <div class="project-authors">
                <a class="contributor-name" rel="tooltip" href="/nrgbz/" data-original-title="Heather Fuchs">Fuchs</a>
                <span>,</span>
                <a class="contributor-name" rel="tooltip" href="/ykxs9/" data-original-title="Vivien Estel">Estel</a>
                <span>&nbsp;&amp;</span>
                <a class="contributor-name" rel="tooltip" href="/gnszc/" data-original-title="Lars Goellner">Goellner</a>
                <span></span>
            </div>

            <!--Stacked bar to visualize user activity level against total activity level of a project -->
            <!--Length of the stacked bar is normalized over all projects -->




        </li>
    </ul>
</div>