*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Color Palette */

@col-size : 160px;
@widget-width: 160px;

@dark-blue : #2C3E50;
@coral: #E74C3C;
@white : #ECF0F1;
@light-blue: #3498DB;
@silver : #646464;

@flat-navy : #334D5C;
@flat-blue: #45B29D;
@flat-yellow: #EFC94C;
@flat-orange: #E27A3F;
@flat-pink: #DF4949;
