@import 'helpers.less';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Color Palette */

@col-size : 160px;
@widget-width: 160px;

@dark-blue : #2C3E50; 
@coral: #E74C3C; 
@white : #ECF0F1;
@light-blue: #3498DB;
@dark-silver : #646464; 

@flat-navy : #334D5C; 
@flat-blue: #45B29D;
@flat-yellow: #EFC94C;
@flat-orange: #E27A3F;
@flat-pink: #DF4949;

@dark-navy : #112E40;
@dark-blue : #034647;
@dark-green : #37573F;
@dark-turquaz : #3D6C79;
@dark-red : #632419;

@black : #111111;
@maroon : #85144B;
@gray : #AAAAAA;
@purple : #B10DC9;
@silver : #DDDDDD;
@fuchsia : #F012BE;
@red : #FF4136;
@orange : #FF851B;
@yellow : #FFDC00;
@aqua : #7FDBFF;
@olive : #3D9970;
@teal : #39CCCC;
@green : #2ECC40;
@lime : #01FF70;
@blue : #0074D9;
@navy : #001F3F;

/* http://flatuicolors.com/ */
@emerald-l : #2ecc71;
@turquaz-l : #1abc9c;
@river-l : #3498db;
@wisteria-l : #A66BBE;
@asphalt-l : #34495e;
@turquaz-d : #1CB698;
@emerald-d : #27ae60;
@river-d : #2980b9;
@wisteria-d : #8e44ad;
@asphalt-d : #2c3e50;
@sunflower-l : #f1c40f;
@sunflower-d : #f39c12;
@carrot-l: #e67e22;
@carrot-d : #EA5D1D;
@alizarin-l : #e74c3c;
@alizarin-d : #c0392b;
@clouds-l : #ecf0f1;
@clouds-d: #bdc3c7;
@concrete-l : #95a5a6;
@concrete-d: #7f8c8d;


/* Fonts */
@Neue : Helvetica Neue, Helvetica, sans-serif;

.skinnyFont {
  font-family: @Neue;
  font-weight: 100;
  letter-spacing: 1px;
}
h1.skinnyFont {
  line-height: 50px;
}
