@import 'mobile.less';

.ht-textarea {
  width: 100%;
  border: 1px dotted #ccc;
  padding: 10px;
}
.large-textarea {
  .ht-textarea;
  min-height: 200px;
}
.small-textarea {
  .ht-textarea;
  height: 100px;
  resize: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  width : 100%;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, .ui-widget {
  font-family: 'Source Sans Pro', sans-serif;
}

.opaque {
  background: rgba(255, 255, 255, 0.47);
}
.opaque-green {
  background : rgba(173, 255, 166, 0.47)
}
.bg-white {
  background: white;
}

.bg-maroon{ background-color: @maroon;}
.bg-gray{ background-color: @gray;}
.bg-purple{ background-color: @purple;}
.bg-silver{ background-color: @silver;}
.bg-fuchsia{ background-color: @fuchsia;}
.bg-red{ background-color: @red;}
.bg-orange{ background-color: @orange;}
.bg-yellow{ background-color: @yellow;}
.bg-aqua{ background-color: @aqua;}
.bg-olive{ background-color: @olive;}
.bg-teal{ background-color: @teal;}
.bg-green{ background-color: @green;}
.bg-lime{ background-color: @lime;}
.bg-blue{ background-color: @blue;}
.bg-navy{ background-color: @navy;}
.bg-flat-navy{ background-color: @flat-navy;}
.bg-flat-blue{ background-color: @flat-blue;}
.bg-flat-yellow{ background-color: @flat-yellow;}
.bg-flat-orange{ background-color: @flat-orange;}
.bg-flat-pink{ background-color: @flat-pink;}
.bg-dark-navy{ background-color: @dark-navy;}
.bg-dark-blue{ background-color: @dark-blue;}
.bg-dark-green{ background-color: @dark-green;}
.bg-dark-turquaz{ background-color: @dark-turquaz;}
.bg-dark-red{ background-color: @dark-red;}
.bg-opaque-white {  background: rgba(255, 255, 255, 0.1); }
.bg-opaque-white-md {background: rgba(255, 255, 255, 0.32);  }
.bg-babyblue {  background: #A1D6E5;       border-bottom: 1px solid rgba(70, 184, 218, 0.57);}

@dark-navy : #112E40;
@dark-blue : #034647;
@dark-green : #37573F;
@dark-turquaz : #3D6C79;
@dark-red : #632419;

.bg-emerald-l { background: @emerald-l }
.bg-turquaz-l { background: @turquaz-l }
.bg-river-l { background: @river-l }
.bg-wisteria-l { background: @wisteria-l }
.bg-asphalt-l { background: @asphalt-l }
.bg-turquaz-d { background: @turquaz-d }
.bg-emerald-d { background: @emerald-d }
.bg-river-d { background: @river-d }
.bg-wisteria-d { background : @wisteria-d}
.bg-asphalt-d { background: @asphalt-d }
.bg-sunflower-l { background: @sunflower-l }
.bg-sunflower-d { background: @sunflower-d }
.bg-carrot-l { background: @carrot-l }
.bg-carrot-d { background: @carrot-d }
.bg-alizarin-l { background: @alizarin-l }
.bg-alizarin-d { background: @alizarin-d }
.bg-clouds-l { background: @clouds-l }
.bg-clouds-d { background: @clouds-d }
.bg-concrete-l { background: @concrete-l }
.bg-concrete-d { background: @concrete-d }

.dim-background{
  background: rgba(0, 0, 0, 0.7);
  height:100%;
}
.ht-w-xs {
  width : @widget-width;
}

.ht-w-sm {
  width : @widget-width*2;
}
.ht-w-md {
  width : @widget-width*3;
}
.ht-w-lg {
  width : @widget-width*4;
}
.ht-w-xl {
  width : @widget-width*5;
}

.ht-inverted {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px dotted rgba(153, 153, 153, 0.19)
}


.ht-module-inverted {
  .ht-column {
    border-right: 2px solid rgba(204, 204, 204, 0);
  }
  .ht-add-column {
    background:  rgba(153,153,153,.19);
    .add-column {
      color : white;
  }
  }
}
.tall{
    width: 300px;
}
.grande {
    width: 600px;
}
.venti {
    width: 800px;
}
.ht-tab {
    margin: 0px 2px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.ht-expose-tab {
  .ht-expose-tab-content {
    color: white;
  }
  .ht-tab;
  border: 1px solid rgba(102, 102, 102, 0.76);
  .ht-expose-inner {
    padding: 30px;
    color: white;
  }
}
.ht-expose-btn > div{
  padding: 6px 20px;
  font-size: 16px;
  margin: 27px 5px;
}
.ht-tab-minimized {
  width: 60px;
  min-width: 60px;
  color: white;
  .ht-tab-header {
    .ht-windowBtn {
      float : none;
      margin: 0;
    }
  }
}
.ht-tab-minimized .rotatedText {
  width: 400px;
  margin-left: -182px;
  margin-top: 200px;
  color: #FFF;
}
#ht-slider-bar{
  width:10px;
  content: "";
  min-height: 100%;
  background-color:#D1C094;
  height: 100%;
}

.ghost-element{
  height: 300px;
  width:300px;
  background:grey;
  opacity: 0.4;
}

.ht-module-menu {
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
  color: #FFF;
  .fa {
    padding: 10px 14px;
    font-size: 21px;
    background: rgba(255, 255, 255, 0.16);
  }
  .fa:hover {
    .opaque;
  }
  .fa:last-of-type {
    border-bottom-right-radius: 4px;
  }
  .ht-opaque-active {
    .opaque;
  }
  .ht-opaque-green {
    .opaque-green;
  }
}


.ht-tab-header {
    color: white;
    padding: 10px;
    padding: 1px 10px;
    h3 {
      .skinnyFont;
      letter-spacing: 1px;
      margin: 10px 0px;
      font-size: 25px;
    }
  .fa {
    font-size : 20px;
    font-weight: 200;
    margin: 0 5px;
  }
  .ht-windowBtn {
    float: right;
    padding: 8px 3px;
    margin-top: -49px;
    margin-right: -11px;
  }
}
.ht-head-wrapper {
  height: 25px;
  border-bottom: 1px solid #ccc;
  margin-top: 40px;
}

.ht-tab-content {
    color: #333;
    padding: 10px;
}

.ht-tab-footer {
    background-color: #ccc;
    padding: 10px;
    color: #999;
}

#ht-main {
    position: fixed;
    top:0;
    left:0px;
    background-color: lightslategrey
}

#ht-head{
    height: 26px;
    color: white;
    display:inline-block;
    margin-top: 0;
}

#ht-content{
    padding: 4px 2px;
  overflow-y: hidden;
}

.ht-hdiv {
   display: inline-block;
   padding: 3px 3px;
   text-align: center;
   height: 25px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
   vertical-align: middle;
 }

.ht-hdiv:hover {
  cursor: pointer; cursor: hand;

}
#ht-slider{
  width:50px;
  background-color: rgba(255, 255, 255, 0.33);
  height: 20px;
  position: absolute;
  border-radius: 18px;
  border-right-width: 1px;
  border-left-width: 1px;
}
#ht-wrapper {
    overflow-x: auto;
    overflow-y : hidden;
  background: #EEE; /*  url("images/wavegrid.png"); */
  padding: 0;
  margin: 0;
  display:inline-block;
}

.ht-column {
  display: inline-block;
  margin-right: 10px;
  float:left;
  padding-right: 5px;
  border-right: 2px solid rgba(204, 204, 204, 0);
  .ht-widget {
    margin-bottom: 10px;
    border-radius: 5px;
    .ht-widget-header {
      padding: 15px 20px;
      font-size: 16px;
      font-weight: 200;
      color: #fff;
      border-bottom: 1px solid rgba(204, 204, 204, 0);

      .fa {
        margin: 0 3px;
      }
    }
    .ht-widget-header:hover {
      border-bottom: 1px solid #ccc;
      cursor: move;
    }
    .ht-widget-body {
      overflow-y: hidden;
      overflow-x: hidden;
      padding: 0px;

      .widget-body-inner {
        height: 100%;
        overflow-x: hidden;
        overflow-y : auto;
      }
      .ht-title-widget {
        overflow : hidden;
        .dashboardList {
          overflow: auto;
        }
      }
    }
  }
  .ht-widget-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
}
.ht-widget:not(.ht-inverted){
  box-shadow: 0 0 10px -5px #333;
  .ht-widget-body {
  }
}
.ht-page {
  background: white;
}
.ht-column:hover
{
  border-right: 2px dotted #ccc;
}
.ht-light-shadow {
  box-shadow: 0 0 5px 0 #aaa;
}
.ht-dark-shadow {
  /*border: 1px solid #222;*/
  box-shadow: 0 0 32px -5px #000;
}
.ht-add-column {
  width: 50px;
  background: rgba(245, 245, 245, 0.2);
  display: table;
  margin-right: 10px;
  float: left;
}
.add-column {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
.ht-tab:after {
  content:"";
  display:table;
  clear:both;
}
.ht-widget-actions {
  float: right;
  top: 8px;
  right: 5px;
  color: white;
  font-size: 16px;
}

.fa{
  cursor: pointer; cursor: hand;
}

.white-text-btn{
  font-weight: 100;
  color:white;
  letter-spacing: 1px;
  font-size: 35px;
  margin:50px;
  opacity:.5;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

}

.white-text-btn:hover{
  cursor: pointer; cursor: hand;
}

#exposebtns{
  text-align:center;
  display:none;
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.rotatedText {
  font-weight: 200;
  display: inline-block;
  width: 215px;
  position: relative;
  margin-left: -88px;
  margin-top: 200px;
}
.rotatedText-expose {
  .rotatedText;
  margin-left: 6px;
  margin-top: 44px;
  font-size: 17px;
  height: 182px;
  text-overflow: ellipsis;
}
.ui-resizable-e {
   cursor : col-resize !important;
}

#exposeDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #858585;
  height:100%;
}
.exposeClose {
  color : white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.expose-content {
  margin-top: 200px;
  text-align: center;
}
.expose-actions {
  margin-top: 100px;
  color: white;
  font-size: 31px;
  font-weight: 100;
  font-family: 'Trebuchet MS', sans-serif;
}
.expose-button {
  display: inline;
  margin: 10px 20px;
  border: 1px solid #aaa;
  padding: 17px 25px;
  span {
    margin-left: 20px;
  }
}
.expose-button:hover {
  background: #eee;
  color: #333;
  cursor: pointer;
}
.ht-slider-wrap {
  position: absolute;
  height: 15px;
  background-color:lightslategrey;
  top: 43px;
  left: 0;
}
.ht-w-s {
  background : #ccc;
}
.appBtnDiv {
  background: rgba(255, 255, 255, 0.71);
  padding: 4px 0;
  float: right;
  display:inline-bock;
  margin-right: -15px;
}
.appBtn {
  font-size: 21px;
  padding: 9px 15px;
  background: #F0F8FF;
}

.appBtn:hover {
  background: #7cc8cc;
}
.ht-wiki-edit {
  .large-textarea;
}
.ht-comment-box {
  .small-textarea;
}

.ht-bookmark {
  padding: 20px;
  margin: 15px 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.ht-widgetize {
  border-radius: 5px;

}
.ht-widget-icon {
  width: 50px;
  color: rgba(255, 255, 255, 0.51);
}
.ht-widget-btn {
  padding: 9px 14px;
  font-size: 20px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.67);
  text-transform: uppercase;
  font-weight: 200;
  border-left : 4px solid rgba(255, 255, 255, 0.15)
}

.ht-widget-btn:hover{
  color: white;
  cursor: pointer;
}

.ht-aside {
  position: absolute;
  width: 400px;
  height: 978px;
  right: 0;
  top: 40px;
  z-index: 999;
  box-shadow:  2px 0px 9px 0px #000;
  padding: 40px 15px;
}
.ht-panel {
  margin: 10px 0;
  padding: 15px;
}
.ht-panel-head {
  font-weight: bold;
  background: #E2E2E2;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}
.ht-panel-body {
  padding: 8px 0;
  font-size : 15px;
}
.ht-panel-footer {
  padding: 0;
  text-align: right;
}
.ht-panel-action {
  margin: 0px 5px;
}
.ht-modal-wrapper {
  padding: 30px;
  background : white;
}
.ht-dismiss {
  width: 30px;
  height: 30px;
  background: #EEE;
  padding: 3px 9px;
  border-radius: 25px;
  color: #999;
  font-size: 16px;
  float: right;
  margin-top:-25px;
}
.ht-modal-header {
  font-weight: 200;
  font-family: Helvetica NEue;
  font-size: 20px;
  margin: 20px 0px;
}
.ht-modal-body {
   font-size: 15px;
   margin: 5px;
 }

.ht-alert-wrapper {
  background: #D1F5F1;
  padding: 20px;
  border-bottom: 1px solid #CCC;
}

#ht-focus-wrap {
  padding: 50px;
  margin: auto;
}
.ht-navbar {
  min-height : 40px;
  background: #fff; //#E4EAEC;
  box-shadow: 0 -1px 5px #222;
  .navbar-brand {
    height: 40px;
    padding: 12px 20px;
  }
  .navbar-form {
    margin: 5px -15px;
    width: 100%;
    text-align: center;
    position: absolute;
  }
}

.ht-btn-search {
  border: 1px solid #ccc;
  background: white; 
}
.ht-input-search {
  border: 1px solid #ccc; 
  border-right: none;
}
.ht-input-search:focus {
  box-shadow : none;
}
/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

.ht-open {
  font-weight: 500;
  color: #FFF;
  border-left: 4px solid rgba(255, 255, 255, 0.69);
  background: rgba(255, 255, 255, 0.07)
}

.ht-badge {
  font-size: 10px;
  background: #FF4C4C;
  padding: 2px 0;
  border-radius: 8px;
  color: #FFF;
  height: 16px;
  width: 16px;
  margin-left: -9px;
  position: absolute;
  top: 4px;
  text-align: center;
  box-shadow: 0 0 4px -1px #333;
}
.ht-resize-zone {
  height: 5px;
  width: 100%;
  background: #A9A9A9;
  cursor: row-resize;
}
::-webkit-scrollbar-track {
  background-color: rgba(195, 195, 195, 0.64);
  /* the new scrollbar will have a flat appearance with the set background color */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);

} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: #595959;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.71);
}