body {
  font-family: Helvetica;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-purple {
  background-color: purple;
}
.tall {
  width: 300px;
}
.grande {
  width: 600px;
}
.venti {
  width: 800px;
}
.ht-tab {
  border: 1px solid #999;
  margin: 10px 20px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.ht-tab-header {
  color: white;
  padding: 10px;
}
.ht-tab-content {
  background-color: #efefef;
  color: #333;
  padding: 10px;
}
.ht-tab-footer {
  background-color: #ccc;
  padding: 10px;
  color: #999;
}
#ht-navbar {
  background: rgba(34, 34, 34, 0.8);
  color: white;
  width: 80px;
  padding: 20px;
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
}
#ht-main {
  position: fixed;
  top: 0;
  left: 80px;
  height: 1000px;
  background-color: #778899;
}
#ht-head {
  height: 26px;
  background-color: lightslategrey;
  color: white;
}
#ht-content {
  padding: 20px;
  width: 2000px;
  overflow-y: scroll;
}
.ht-hdiv {
  display: inline-block;
  padding: 3px;
  text-align: center;
}
#ht-wrapper {
  overflow: scroll;
}
