/* Color Palette */
body {
  font-family: Helvetica;
}
.bg-blue {
  background-color: #45b29d;
}
.bg-orange {
  background-color: #e27a3f;
}
.bg-yellow {
  background-color: #efc94c;
}
.bg-navy {
  background-color: #334d5c;
}
.bg-pink {
  background-color: #df4949;
}
.tall {
  width: 300px;
}
.grande {
  width: 600px;
}
.venti {
  width: 800px;
}
.ht-tab {
  border: 1px solid #aaa;
  margin: 20px 20px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 800px;
  background: white;
  box-shadow: 0 0 5px #ccc;
}
.ht-tab-header {
  color: white;
  padding: 10px;
  padding: 1px 10px;
}
.ht-tab-header h3 {
  font-weight: 100;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
  margin: 10px 0px;
  font-size: 25px;
}
.ht-tab-header .fa {
  font-size: 20px;
  font-weight: 200;
}
.ht-tab-header .ht-windowBtn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 39px;
  background: rgba(34, 34, 34, 0.59);
  padding: 5px 11px 0px 11px;
  margin-top: -1px;
}
.ht-tab-content {
  background-color: #efefef;
  color: #333;
  padding: 10px;
}
.ht-tab-footer {
  background-color: #ccc;
  padding: 10px;
  color: #999;
}
#ht-main {
  position: fixed;
  top: 0;
  left: 0px;
  background-color: #778899;
}
#ht-slider-bar {
  width: 10px;
  content: "";
  min-height: 100%;
  background-color: #D1C094;
  height: 100%;
}
.ghost-element {
  height: 300px;
  width: 50px;
  background: grey;
  opacity: 0.4;
}
#ht-head {
  height: 40px;
  background-color: lightslategrey;
  color: white;
}
#ht-content {
  padding: 20px;
  width: 10000px;
  overflow-y: scroll;
}
.ht-hdiv {
  height: 40px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#ht-slider {
  background-color: #646464;
  width: 50px;
  height: 15px;
  position: absolute;
}
#ht-wrapper {
  overflow: auto;
  background: url("images/wavegrid.png");
}
.grid {
  border: 1px dashed #ccc;
  position: relative;
  width: 100%;
}
.grid > div {
  background: #CCC;
  height: 400px;
  position: absolute;
  width: 80px;
}
.grid > div[data-ss-colspan='1'] {
  width: 120px;
}
.grid > div[data-ss-colspan='2'] {
  width: 240px;
}
.grid > div[data-ss-colspan='3'] {
  width: 360px;
}
.grid > div[data-ss-colspan='4'] {
  width: 480px;
}
.grid .ss-placeholder-child {
  background: transparent;
  border: 1px dashed red;
}
.fa {
  cursor: pointer;
  cursor: hand;
}
