/* Color Palette */
body {
  font-family: Helvetica;
}
.bg-blue {
  background-color: #45b29d;
}
.bg-orange {
  background-color: #e27a3f;
}
.bg-yellow {
  background-color: #efc94c;
}
.ht-w-xs {
  width: 160px;
}
.ht-w-sm {
  width: 320px;
}
.ht-w-md {
  width: 480px;
}
.ht-w-lg {
  width: 640px;
}
.ht-w-xl {
  width: 800px;
}
.tall {
  width: 300px;
}
.grande {
  width: 600px;
}
.venti {
  width: 800px;
}
.ht-tab {
  min-width: 600px;
  border: 1px solid #aaa;
  margin: 10px 20px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  background: white;
  box-shadow: 0 0 5px #ccc;
}
.ht-tab-header {
  color: white;
  padding: 10px;
  padding: 1px 10px;
}
.ht-tab-header h3 {
  font-weight: 100;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
  margin: 10px 0px;
  font-size: 25px;
}
.ht-tab-header .fa {
  font-size: 20px;
  font-weight: 200;
}
.ht-tab-header .ht-windowBtn {
  float: right;
  width: 39px;
  background: rgba(255, 255, 255, 0.28);
  padding: 5px 11px 0;
  margin-top: -49px;
  margin-right: -11px;
}
.ht-tab-content {
  background-color: white;
  color: #333;
  padding: 10px;
}
.ht-tab-footer {
  background-color: #ccc;
  padding: 10px;
  color: #999;
}
#ht-main {
  position: fixed;
  top: 0;
  left: 0px;
  background-color: #778899;
}
#ht-head {
  height: 26px;
  background-color: lightslategrey;
  color: white;
}
#ht-content {
  padding: 20px;
  width: 5000px;
  overflow-y: scroll;
}
.ht-hdiv {
  display: inline-block;
  padding: 3px;
  text-align: center;
}
#ht-wrapper {
  overflow: auto;
  background: url("images/wavegrid.png");
}
.ht-hdiv-content {
  white-space: nowrap;
  overflow: hidden;
}
.ht-column {
  min-width: 250px;
  display: inline-block;
  margin-right: 10px;
  float: left;
  padding-right: 5px;
}
.ht-column .ht-widget {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.ht-column .ht-widget .ht-widget-header {
  padding: 10px;
  background: #ccc;
  font-size: 16px;
  font-weight: 200;
}
.ht-column .ht-widget .ht-widget-body {
  padding: 10px;
}
.ht-column .ht-widget-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}
.ht-column:hover {
  border-right: 5px solid #ccc;
}
.ht-add-column {
  width: 50px;
  background: #f5f5f5;
  display: table;
  margin-right: 10px;
  float: left;
}
.add-column {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #999999;
  text-align: center;
}
.ht-tab:after {
  content: "";
  display: table;
  clear: both;
}
.ht-widget-actions {
  float: right;
  top: 8px;
  right: 5px;
  color: white;
  font-size: 16px;
}
