/* Color Palette */

@col-size : 160px;
@widget-width: 160px;

@dark-blue : #2C3E50; 
@coral: #E74C3C; 
@white : #ECF0F1;
@light-blue: #3498DB;
@silver : #646464; 

@flat-navy : #334D5C; 
@flat-blue: #45B29D;
@flat-yellow: #EFC94C; 
@flat-orange: #E27A3F;
@flat-pink: #DF4949; 


body {
    font-family: Helvetica;
}

.bg-blue {
     background-color: @flat-blue;
}
.bg-orange {
    background-color: @flat-orange;
}
.bg-yellow {
    background-color: @flat-yellow;
}
.bg-navy {
     background-color: @flat-navy;
}
.bg-pink {
     background-color: @flat-pink;
}

.dim-background{
  background: rgba(0, 0, 0, 0.7);
  height:100%;
}
.ht-w-xs {
  width : @widget-width;
}

.ht-w-sm {
  width : @widget-width*2;
}
.ht-w-md {
  width : @widget-width*3;
}
.ht-w-lg {
  width : @widget-width*4;
}
.ht-w-xl {
  width : @widget-width*5;
}

.tall{
    width: 300px;
}
.grande {
    width: 600px;
}
.venti {
    width: 800px;
}
.ht-tab {
   min-width: 600px;
    margin: 20px 20px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
  background: white;
}
.ht-tab-minimized {
  width: 60px;
  min-width: 60px;
  .ht-tab-header {
    .ht-windowBtn {
      float : none;
      margin: 0;
    }
  }
}
#ht-slider-bar{
  width:10px;
  content: "";
  min-height: 100%;
  background-color:#D1C094;
  height: 100%;
}

.ghost-element{
  height: 341px;
  width:50px;
  background:grey;
  opacity: 0.4;
}


.ht-tab-header {
    color: white;
    padding: 10px;
    padding: 1px 10px;
    h3 {
      font-weight: 100;
      font-family: Helvetica Neue;
      letter-spacing: 1px;
      margin: 10px 0px;
      font-size: 25px;
    }
  .fa {
    font-size : 20px;
    font-weight: 200;
  }
  .ht-windowBtn {
    float: right;
    width: 39px;
    background: rgba(255,255,255,.28);
    padding: 5px 11px 0;
    margin-top: -49px;
    margin-right: -11px;
  }
}

.ht-tab-content {
    background-color: white;
    color: #333;
    padding: 10px;
}

.ht-tab-footer {
    background-color: #ccc;
    padding: 10px;
    color: #999;
}

#ht-main {
    position: fixed;
    top:0;
    left:0px;
    background-color: lightslategrey
}

#ht-head{
    height: 40px;
    background-color: lightslategrey;
    color: white;
}

#ht-content{
    padding: 10px;
    width: 5000px;
    overflow-y: scroll;
}

.ht-hdiv {
    display: inline-block;
    padding: 3px;
    text-align: center;
  height: 40px;
  display:table-cell;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  vertical-align: middle;
}
#ht-slider{
  background-color:@silver; width:50px; height:15px; position:absolute;
}
#ht-wrapper {
    overflow: auto;
  background: url("images/wavegrid.png");
}

.ht-column {
  min-width: 250px;
  display: inline-block;
  margin-right: 10px;
  float:left;
  padding-right: 5px;
  border-right: 2px dotted white;
  .ht-widget {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    .ht-widget-header {
        padding: 10px;
      background: #ccc;
      font-size: 16px;
      font-weight: 200;
    }
    .ht-widget-body {
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 85%;
    }
  }
  .ht-widget-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
}
.ht-column:hover
{
  border-right: 2px dotted #ccc;
}
.ht-light-shadow {
  border: 1px solid #ccc;
  box-shadow: 0 0 8px 0px #aaa;
}
.ht-dark-shadow {
  border: 1px solid #222;
  box-shadow: 0 0 32px -5px #000;
}
.ht-add-column {
  width: 50px;
  background: #f5f5f5;
  display: table;
  margin-right: 10px;
  float:left;
}
.add-column {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #999999;
  text-align: center;
}
.ht-tab:after {
  content:"";
  display:table;
  clear:both;
}
.ht-widget-actions {
  float: right;
  top: 8px;
  right: 5px;
  color: white;
  font-size: 16px;
}

.fa{
  cursor: pointer; cursor: hand;
}

.white-text-btn{
  font-weight: 100;
  font-family: Helvetica Neue;
  color:white;
  letter-spacing: 1px;
  font-size: 35px;
  margin:50px;
  opacity:.5;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.white-text-btn:hover{
  cursor: pointer; cursor: hand;
}

#exposebtns{
  text-align:center;
  display:none;
  position:absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.rotatedText {
  font-weight: 200;
  display: inline-block;
  width: 215px;
  position: relative;
  margin-left: -88px;
  margin-top: 200px;
}

.ui-resizable-e {
   cursor : col-resize !important;
}