<div id="component">
    <div class="col-xs-12 visible-xs">
        <div class="container-fluid">
            <h2> Dashboard </small></h2>
            <p class="lead">Last Updated: <br /> August 6, 2012 8pm</p>
        </div>
    </div>
    <div class="hidden-xs col-sm-12 ht-inverted">
        <div class="container-fluid">
            <h2> Welcome to your Dashboard </h2>

            <div class="row">
                <div class="col-xs-12">
                    <p> Sed hendrerit pulvinar imperdiet. Morbi elementum ante nec lorem consectetur convallis. Praesent vel enim urna. Curabitur luctus ante id mollis tristique. Cras interdum suscipit velit eleifend aliquet. Curabitur condimentum pellentesque velit at tempor.
                    </p>
                    <p>Sed hendrerit pulvinar imperdiet. Morbi elementum ante nec lorem consectetur convallis. Praesent vel enim urna. Curabitur luctus ante id mollis tristique. Cras interdum suscipit velit eleifend aliquet. Curabitur condimentum pellentesque velit at tempor.
                    </p>
                    <button class="btn btn-info btn-sm"> Learn more about OSF </button>
                    <button class="btn btn-primary btn-sm"> Documentation</button>
                </div>

            </div>
        </div>
    </div>
</div>
