<div id="ht-wiki-widget" class="visible-xs ht-widgetize t-light no-flow" data-color="bg-flat-pink" >
    <div class="p-md t-a-c">
        <p>Here is a nice</p>
        <h3>List</h3>
        <ul class="list-group">
            <li class="list-group-item " style="background: transparent">Cras justo odio</li>
            <li class="list-group-item" style="background: transparent">Dapibus ac facilisis in</li>
            <li class="list-group-item" style="background: transparent">Morbi leo risus</li>
            <li class="list-group-item" style="background: transparent">Porta ac consectetur ac</li>
            <li class="list-group-item" style="background: transparent">Vestibulum at eros</li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="hidden-xs">
        <div class="row">
            <div class="col-sm-4 col-lg-offset-3">
                <h1>Our Company</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 col-lg-offset-3">
                <div class="jumbotron">
                    <h2>Our Mission</h2>
                    <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. </p>
                    <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. </p>
                    <div class="col-sm-3 col-sm-offset-9">
                        <a class ="btn btn-primary" href = "#" role="button">More Information&raquo </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6  col-lg-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                                <h3 class="panel-title">Our Blog</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5>Entry 1</h5>
                                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                                <a class ="btn btn-primary" href = "#" role="button">More&raquo</a>
                            </div>
                            <div class="col-sm-4">
                                <h5>Entry 2</h5>
                                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                                <img src="../components/first/pic1.jpeg" alt="Responsive Image" class="img-thumbnail">
                                <a class ="btn btn-primary" href = "#" role="button">More&raquo</a>
                            </div>
                            <div class="col-sm-4">
                                <h5>Entry 3</h5>
                                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                                <a class ="btn btn-primary" href = "#" role="button">More&raquo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 col-lg-offset-8">
                <a class ="btn btn-primary" href = "#" role="button">More Entries&raquo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-lg-offset-3 col-lg-6">
                <h2>Request a Quote</h2>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">File Input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Attach picture here</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Email my response
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
        </div>
    </div>


    </div>
