<div class="container-fluid">

<div class="row">

<div class="col-md-9 wiki">
    <p align="justify">
        The Reproducibility Project: Cancer Biology, a collaboration between <a href="https://www.scienceexchange.com" rel="nofollow" target="_blank">Science Exchange</a> and the <a href="http://centerforopenscience.org" rel="nofollow" target="_blank">Center for Open Science</a>, is independently replicating 50 high-impact cancer biology studies published between 2010-2012 using the Science Exchange network of expert scientific labs. The aim of the project is to identify best practices, through independent direct replication studies, that maximize reproducibility and facilitate an accurate accumulation of knowledge, enabling potentially impactful novel findings to be effectively built upon by the scientific community.
    </p>

    <p style="font-size: 14px;">
        The experimental protocol, materials, data, and results are being made openly available on each <a href="https://osf.iohttps://osf.io/e81xl/wiki/studies" rel="nofollow">study's project page</a> on the <a href="https://osf.io" rel="nofollow">Open Science Framework</a>.
        <br>
        <br>
        The Reproducibility Project: Cancer Biology is managed by a core team of personnel who develops and executes the project design. This includes coordinating and participating in the coding of information from the original papers, and communicating with the original authors and Science Exchange labs who will be performing the replication experiments. For a short biography of the core team members, visit the <a href="https://osf.iohttps://osf.io/e81xl/wiki/project%20team" rel="nofollow">Project Team</a> page.
        <br>
        <br>
        The Reproducibility Project: Cancer Biology is advised by leaders on the issue of reproducibility. For a list and a short biography of the advisors, visit the <a href="https://osf.iohttps://osf.io/e81xl/wiki/advisory%20board" rel="nofollow">Advisory Board</a> page.
        <br>
        <br>
        For more information visit the <a href="https://osf.iohttps://osf.io/e81xl/wiki/about/" rel="nofollow">about</a> page.</p>

    <p><br>
    </p><p align="center" style="font-size: 23px;"><strong>Funding and Supporting Organizations</strong></p>
    <br>
    <p style="font-size: 14px;">The Reproducibility Project: Cancer Biology is a collaboration between Science Exchange and the Center for Open Science.</p>
    <table>
        <tbody><tr>
            <td height="125px" width="200px"><img src="https://osf.io/e81xl/osffiles/SE_Logo_Large.png/version/1/download/" width="180px"></td>
            <td>
                Science Exchange is a marketplace for scientific collaboration, where researchers can order experiments from the world's best labs.
                <br><p></p>
                <p>Learn more at <a href="https://www.scienceexchange.com" rel="nofollow" target="_blank"> scienceexchange.com</a></p></td>
        </tr>
        <tr>
            <td height="125px" width="200px"><img src="https://osf.io/e81xl/osffiles/COS.jpg/version/1/download/" width="180px"></td>
            <td>
                <p style="font-size: 14px;">The Center for Open Science (COS) is dedicated to improving the alignment between scientific values and scientific practices to improve the accumulation and application of knowledge.
                    <br></p>
                <p>Learn more at <a href="https://cos.io" rel="nofollow" target="_blank"> centerforopenscience.org</a></p></td>
        </tr>
        </tbody></table>
    <br>
    The Reproducibility Project: Cancer Biology has been funded through a $1.3 million grant from the <a href="http://www.arnoldfoundation.org" rel="nofollow" target="_blank">Laura and John Arnold Foundation</a>, which funds projects to promote transformational change. The project has formed relationships with a large number of academic and commercial partners including the following major partners and contributors who support the project, which include top scientific suppliers which will provide over $500,000 worth of research reagents and models to the project.<p></p><p></p>
    <table>

        <tbody><tr><td height="125px" width="275px">
            <a href="http://www.biocompare.com" rel="nofollow" target="_blank">
                <img src="https://osf.io/e81xl/osffiles/bc-logo.jpg/version/1/download/" width="125"></a>
        </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="http://www.biolegend.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/biolegend_logo.png/version/1/download/" width="125px"></a>
            </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="http://www.criver.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/Charles-River-Laboratories.gif/version/1/download/" width="125px"></a>
            </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="http://www.corning.com/index.aspx" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/Corning-Logo.gif/version/1/download/" width="125px"></a>
            </td>

        </tr></tbody></table>

    <table>

        <tbody><tr><td height="125px" width="275px">
            <a href="http://www.ddcmedical.com" rel="nofollow" target="_blank">
                <img src="https://osf.io/e81xl/osffiles/DDC.jpg/version/1/download/" width="125"></a>
        </td>

            <td height="125px" width="160px"></td>

            <td height="125px" width="275px">
                <a href="http://www.emdmillipore.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/M-EMD-MILLIPORE_CO_rgb.jpg/version/1/download/" width="85px"></a>
            </td>

            <td height="125px" width="135px"></td>

            <td height="125px" width="275px">
                <a href="http://www.harlan.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/Harlan.png/version/1/download/" width="110px"></a>
            </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="http://www.arnoldfoundation.org" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/ljafLogoLrg.gif/version/1/download/" width="155"></a>
            </td>

        </tr></tbody></table>

    <table>

        <tbody><tr><td height="125px" width="275px">
            <a href="http://www.licor.com" rel="nofollow" target="_blank">
                <img src="https://osf.io/e81xl/osffiles/licor-logo-blue.gif/version/1/download/" width="125px"></a>
        </td>

            <td height="125px" width="160px"></td>

            <td height="125px" width="275px">
                <a href="http://www.mendeley.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/Mendeley_logo_Sept2010.png/version/1/download/" width="85px"></a>
            </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="https://www.mirusbio.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/Mirus.jpg/version/1/download/" width="125px"></a>
            </td>

            <td height="125px" width="120px"></td>

            <td height="125px" width="275px">
                <a href="http://www.novusbio.com" rel="nofollow" target="_blank">
                    <img src="https://osf.io/e81xl/osffiles/novus_logo.jpg/version/1/download/" width="125px"></a>
            </td>

        </tr></tbody></table>

    <table>

        <tbody><tr><td height="125px" width="275px">
            <a href="http://www.sigmaaldrich.com/united-states.html" rel="nofollow" target="_blank">
                <img src="https://osf.io/e81xl/osffiles/Sigma-Aldrich-Corporation.jpg/version/1/download/" width="125"></a>
        </td>

        </tr></tbody></table>

    <p><br>
        <br></p>
    <p>For all partnership-related inquiries please contact the project leads, Tim Errington and Elizabeth Iorns at
        <br>
        <a href="mailto:contact@cos.io">contact@cos.io</a>.</p>
</div>

<div class="col-md-3">
    <dl>
        <strong>Name:</strong> <span id="pageName" class="editable editable-click">home</span>
        <br>
        <strong>Version:</strong> 70 (current)
    </dl>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">

                <li><a class="disabled">Edit</a></li>
                <li><a href="https://osf.io/e81xl/wiki/home/compare/1">History</a> </li>
                <li><a class="disabled">New Page</a></li>
            </ul>
        </div><!-- end container-fluid -->
    </nav>

    <div class="osf-sidenav hidden-print" role="complementary">

        <ul class="nav bs-sidenav">

            <h4 style="margin-left: 10px;">Project Wiki Pages</h4>

            <li>
                <a href="https://osf.io/e81xl/wiki/about">about</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/frequently asked questions">frequently asked questions</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/project team">project team</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/press">press</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/home">home</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/advisory board">advisory board</a>
            </li>
            <li>
                <a href="https://osf.io/e81xl/wiki/studies">studies</a>
            </li>

            <hr>
            <h4 style="margin-left: 10px;">Component Wiki Pages</h4>

            <li class="nav-header">

                <a href="/projecthttps://osf.io/e81xl/node/p7ayb/wiki/home/">

                    Replication Studies
                    (project)
                </a>

                <ul style="list-style-type: none;">
                </ul>

            </li>
            <li class="nav-header">

                <a href="/project/inrh9/node/bg4di/wiki/home/">
                    <i class="icon-hand-right"></i>

                    Identification Analysis of RP:CB
                    (analysis)
                </a>

                <ul style="list-style-type: none;">
                </ul>

            </li>

        </ul>

    </div>

</div>

</div>

</div>