<div id="ht-wiki-widget" class="visible-xs ht-widgetize t-light no-flow" data-color="bg-flat-blue" >
    <div class="p-md">
        <div class="thumbnail" style="background: rgba(0, 0, 0, 0);border: none; text-align: center;">
            <h3>Understanding this image</h3>
            <img src="../components/second/donutChart.png" alt="Chart Image" class="newImage">
            <div class="caption">
                <p>This image is very interesting.</p>
                <p>You must read it to understand.</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="hidden-xs">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-offset-3">
                <h1>Musician's Name</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-offset-2 col-md-8">
                <div class="jumbotron">
                    <h1>Welcome!</h1>
                    <p>This is Musician's official website. Listen to our music, find tour tickets, or even sign up for our mailing list.</p>
                    <p>Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>

        </div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8  col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tour Dates</h3>
            </div>
            <div class="panel-body">
                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
                <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><h2>Date</h2></td>
                                    <td><h2>Venue</h2></td>
                                    <td><h2>Tickets</h2></td>
                                </tr>
                                <tr class="danger">
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>SOLD OUT</p></td>
                                </tr>
                                <tr class="danger">
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>SOLD OUT</p></td>
                                </tr>
                                <tr class="warning">
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>Limited Avaliablilty</p></td>
                                </tr>
                                <tr>
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>avaliable</p></td>
                                </tr>
                                <tr>
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>avaliable</p></td>
                                </tr>
                                <tr class = "warning">
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>Limited Avaliability</p></td>
                                </tr>
                                <tr>
                                    <td><p>date</p></td>
                                    <td><p>place</p></td>
                                    <td><p>avaliable</p></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div class="row">

                            <div class="col-sm-3 col-sm-offset-9">
                                <a class ="btn btn-primary" href = "#" role="button">More Dates&raquo</a>
                            </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada tellus tempor eu. Aenean accumsan fringilla dolor facilisis egestas. Aenean ultrices quis lectus eget lobortis. Donec pretium neque et diam finibus interdum. Etiam accumsan imperdiet purus, nec semper mi faucibus et. Donec odio tortor, rutrum nec lacus sed, suscipit egestas quam. Suspendisse faucibus varius felis sed volutpat. Phasellus felis mauris, sagittis ac augue vitae, tincidunt porttitor felis. Fusce purus purus, tristique et facilisis sed, facilisis vel justo. Sed interdum, augue nec interdum ultricies, turpis orci pellentesque lorem, quis sodales dolor tortor et urna. Donec dapibus ultricies ex ut volutpat. Etiam pharetra consequat feugiat. Nullam a elementum massa. Phasellus bibendum lorem sed pretium facilisis.</p>
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>

        </div>
<div class="row">
    <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/SXjXKT98esw?rel=0"></iframe>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <h2>Enjoy our music videos</h2>
        <p>Check us out on YouTube. We also have links to all of our videos on different pages of this site. Click the button below for more.</p>
        <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>
        <p>Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.</p>

        <a class ="btn btn-primary" href = "#" role="button">More Music&raquo</a>
    </div>
</div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada tellus tempor eu. Aenean accumsan fringilla dolor facilisis egestas. Aenean ultrices quis lectus eget lobortis. Donec pretium neque et diam finibus interdum. Etiam accumsan imperdiet purus, nec semper mi faucibus et. Donec odio tortor, rutrum nec lacus sed, suscipit egestas quam. Suspendisse faucibus varius felis sed volutpat. Phasellus felis mauris, sagittis ac augue vitae, tincidunt porttitor felis. Fusce purus purus, tristique et facilisis sed, facilisis vel justo. Sed interdum, augue nec interdum ultricies, turpis orci pellentesque lorem, quis sodales dolor tortor et urna. Donec dapibus ultricies ex ut volutpat. Etiam pharetra consequat feugiat. Nullam a elementum massa. Phasellus bibendum lorem sed pretium facilisis.</p>
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada tellus tempor eu. Aenean accumsan fringilla dolor facilisis egestas. Aenean ultrices quis lectus eget lobortis. Donec pretium neque et diam finibus interdum. Etiam accumsan imperdiet purus, nec semper mi faucibus et. Donec odio tortor, rutrum nec lacus sed, suscipit egestas quam. Suspendisse faucibus varius felis sed volutpat. Phasellus felis mauris, sagittis ac augue vitae, tincidunt porttitor felis. Fusce purus purus, tristique et facilisis sed, facilisis vel justo. Sed interdum, augue nec interdum ultricies, turpis orci pellentesque lorem, quis sodales dolor tortor et urna. Donec dapibus ultricies ex ut volutpat. Etiam pharetra consequat feugiat. Nullam a elementum massa. Phasellus bibendum lorem sed pretium facilisis.</p>
                    <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                    <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
                </div>
                </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Email List</h3>
                    </div>
                    <div class="panel-body">
                        <p>Sign up for our email list to get access to special offers and sales, as well as first notice about tour dates and new music.</p>
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

