<div id="ht-wiki-widget" class="visible-xs ht-widgetize t-light no-flow" data-color="bg-flat-yellow" >
    <div class="p-md">
        <h6>This widget takes up</h6>
        <h1>20%</h1>
        <h3>less space</h3>
        <p>These widgets are much more mobile friendly.</p>
    </div>
</div>


<div class = "container-fluid">

    <div class="hidden-xs">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
        <h1>Welcome to The Blog Forum</h1>
                </div>
</div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada</p>
                <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. </p>
            </div>
        </div>
            <div class="col-sm-9 col-lg-6 col-lg-offset-3">

        <h3>Sign Up for Blog Updates </h3>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Send me emails
                </label>
            </div>
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <p>Already on our Mailing List? Check out these <a href src = "#">personalized blog lists</a></p>
    </div>



        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-offset-3">
                <h1>Featured Blogs</h1>
                </div></div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada tellus tempor eu. Aenean accumsan fringilla dolor facilisis egestas. Aenean ultrices quis lectus eget lobortis. Donec pretium neque et diam finibus interdum. Etiam accumsan imperdiet purus, nec semper mi faucibus et. Donec odio tortor, rutrum nec lacus sed, suscipit egestas quam. Suspendisse faucibus varius felis sed volutpat. Phasellus felis mauris, sagittis ac augue vitae, tincidunt porttitor felis. Fusce purus purus, tristique et facilisis sed, facilisis vel justo. Sed interdum, augue nec interdum ultricies, turpis orci pellentesque lorem, quis sodales dolor tortor et urna. Donec dapibus ultricies ex ut volutpat. Etiam pharetra consequat feugiat. Nullam a elementum massa. Phasellus bibendum lorem sed pretium facilisis.</p>
            <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
               <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
            </div>

        </div>


            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-offset-3 col-lg-3">

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h2>Blog #1</h2> <p> Nunc augue massa, accumsan non eros vitae, fringilla auctor ante. In tincidunt, lorem vel rhoncus commodo, velit velit tempus justo, vitae viverra mi ex a mauris.

                        </p></div>
                        <div class="panel-body">
                    <a href="#" class="thumbnail">
                        <img src="../components/first/pic1.jpeg" alt="Responsive Image">
                    </a>
                            </div>
                    </div>
                </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h2>Blog #2</h2><p> Nunc augue massa, accumsan non eros vitae, fringilla auctor ante. In tincidunt, lorem vel rhoncus commodo, velit velit tempus justo, vitae viverra mi ex a mauris.

                    </p></div>
                    <div class="panel-body">
                        <a href="#" class="thumbnail">
                            <img src="../components/first/pic1.jpeg" alt="Responsive Image">
                        </a>
                    </div>
                </div>
        </div>
            </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-lg-offset-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada</p>
            <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. </p>
        </div>
    </div>
        <div class = "row">

            <div class="col-sm-12 col-md-9 col-lg-offset-3 col-lg-6">
                <h2>Types of Blogs</h2>
                <p>Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
                <ul class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">240</span>
                        Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">
                        <span class="badge">150</span>
                        Morbi leo risus</a>
                    <a href="#" class="list-group-item">
                        <span class="badge">78</span>
                        Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">
                        <span class="badge">50</span>
                        Vestibulum at eros</a>
                </ul>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 col-lg-offset-4">
                <button type="button" class="btn btn-success btn-xs">See More&raquo</button>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-lg-offset-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat leo leo, et malesuada tellus tempor eu. Aenean accumsan fringilla dolor facilisis egestas. Aenean ultrices quis lectus eget lobortis. Donec pretium neque et diam finibus interdum. Etiam accumsan imperdiet purus, nec semper mi faucibus et. Donec odio tortor, rutrum nec lacus sed, suscipit egestas quam. Suspendisse faucibus varius felis sed volutpat. Phasellus felis mauris, sagittis ac augue vitae, tincidunt porttitor felis. Fusce purus purus, tristique et facilisis sed, facilisis vel justo. Sed interdum, augue nec interdum ultricies, turpis orci pellentesque lorem, quis sodales dolor tortor et urna. Donec dapibus ultricies ex ut volutpat. Etiam pharetra consequat feugiat. Nullam a elementum massa. Phasellus bibendum lorem sed pretium facilisis.</p>
            <p>Suspendisse id augue non velit interdum imperdiet. Nulla molestie sapien lorem, sed mattis sem euismod ac. Sed dignissim bibendum mauris et dapibus. Maecenas luctus lacus turpis, ac imperdiet nulla malesuada sed. Nam aliquet urna consectetur purus lacinia, sed consectetur ligula eleifend. Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor. Vestibulum venenatis scelerisque neque eget facilisis. Fusce rutrum tempor finibus. Integer luctus iaculis hendrerit. Sed vel imperdiet ante. Quisque hendrerit metus a velit rhoncus, quis malesuada sapien facilisis.</p>
            <p>Praesent feugiat, justo id fringilla elementum, dolor orci elementum odio, ac auctor ligula ex aliquam purus. Phasellus dictum rhoncus vulputate. Integer et maximus sem. Praesent varius ornare ante non aliquet. Donec et sapien ac justo maximus faucibus. Proin sodales urna magna, sed molestie quam sagittis id. Duis rhoncus aliquet nunc nec bibendum. Morbi quis varius erat. In pellentesque, ante quis accumsan hendrerit, est quam volutpat ante, eget imperdiet leo enim vel tellus.         </p>
        </div>

    </div>


<div class="grid-container">
    <div class="row>">

        <div class="col-md-12 col-lg-offset-3 col-lg-6">
            <h1>A Table for the Purposes of Tabling</h1>
            <p>Phasellus vehicula lacus convallis lorem ullamcorper dignissim. Praesent orci quam, mollis eu nibh et, eleifend aliquam tortor</p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td><h2>Column heading</h2></td>
                            <td><h2>Column heading</h2></td>
                            <td><h2>Column heading</h2></td>
                        </tr>
                        <tr>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                        </tr>
                        <tr>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                        </tr>
                        <tr>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                        </tr>
                        <tr>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                            <td><p>Column content</p></td>
                        </tr>
                    </table>
                </div>
</div>
    </div>
    </div>

    </div>
</div>


