<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 visible-xs-block">
            

		    There have been no registrations of this project.
		    For a list of the most viewed and most recent public registrations on the
		    Open Science Framework, click <a href="https://osf.io/explore/activity/">here</a>
        </div>
        <div class="col-sm-12 hidden-xs">
        	There have been no registrations of this project.
		    For a list of the most viewed and most recent public registrations on the
    		Open Science Framework, click <a href="https://osf.io/explore/activity/">here</a>
        </div>
    </div>
</div>

