<style>
#OL_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#OL_1*/

#LI_2, #LI_4, #LI_6, #LI_8, #LI_10, #LI_12, #LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_28, #LI_30, #LI_32, #LI_34, #LI_36, #LI_38, #LI_40, #LI_42, #LI_44, #LI_46, #LI_48, #LI_50, #LI_52, #LI_54, #LI_56, #LI_58, #LI_60, #LI_62, #LI_64, #LI_66, #LI_68, #LI_70, #LI_72, #LI_74, #LI_76, #LI_78, #LI_80, #LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_96, #LI_98, #LI_100, #LI_102, #LI_104, #LI_106, #LI_108, #LI_110 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    white-space: nowrap;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_2, #LI_4, #LI_6, #LI_8, #LI_10, #LI_12, #LI_14, #LI_16, #LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_28, #LI_30, #LI_32, #LI_34, #LI_36, #LI_38, #LI_40, #LI_42, #LI_44, #LI_46, #LI_48, #LI_50, #LI_52, #LI_54, #LI_56, #LI_58, #LI_60, #LI_62, #LI_64, #LI_66, #LI_68, #LI_70, #LI_72, #LI_74, #LI_76, #LI_78, #LI_80, #LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_96, #LI_98, #LI_100, #LI_102, #LI_104, #LI_106, #LI_108, #LI_110*/

#LI_2:after, #LI_4:after, #LI_6:after, #LI_8:after, #LI_10:after, #LI_12:after, #LI_14:after, #LI_16:after, #LI_18:after, #LI_20:after, #LI_22:after, #LI_24:after, #LI_26:after, #LI_28:after, #LI_30:after, #LI_32:after, #LI_34:after, #LI_36:after, #LI_38:after, #LI_40:after, #LI_42:after, #LI_44:after, #LI_46:after, #LI_48:after, #LI_50:after, #LI_52:after, #LI_54:after, #LI_56:after, #LI_58:after, #LI_60:after, #LI_62:after, #LI_64:after, #LI_66:after, #LI_68:after, #LI_70:after, #LI_72:after, #LI_74:after, #LI_76:after, #LI_78:after, #LI_80:after, #LI_82:after, #LI_84:after, #LI_86:after, #LI_88:after, #LI_90:after, #LI_92:after, #LI_94:after, #LI_96:after, #LI_98:after, #LI_100:after, #LI_102:after, #LI_104:after, #LI_106:after, #LI_108:after, #LI_110:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    white-space: nowrap;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: ',';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_2:after, #LI_4:after, #LI_6:after, #LI_8:after, #LI_10:after, #LI_12:after, #LI_14:after, #LI_16:after, #LI_18:after, #LI_20:after, #LI_22:after, #LI_24:after, #LI_26:after, #LI_28:after, #LI_30:after, #LI_32:after, #LI_34:after, #LI_36:after, #LI_38:after, #LI_40:after, #LI_42:after, #LI_44:after, #LI_46:after, #LI_48:after, #LI_50:after, #LI_52:after, #LI_54:after, #LI_56:after, #LI_58:after, #LI_60:after, #LI_62:after, #LI_64:after, #LI_66:after, #LI_68:after, #LI_70:after, #LI_72:after, #LI_74:after, #LI_76:after, #LI_78:after, #LI_80:after, #LI_82:after, #LI_84:after, #LI_86:after, #LI_88:after, #LI_90:after, #LI_92:after, #LI_94:after, #LI_96:after, #LI_98:after, #LI_100:after, #LI_102:after, #LI_104:after, #LI_106:after, #LI_108:after, #LI_110:after*/

#A_3, #A_5, #A_9, #A_13, #A_17, #A_21, #A_25, #A_29, #A_33, #A_37, #A_41, #A_45, #A_49, #A_53, #A_57, #A_61, #A_65, #A_69, #A_73, #A_77, #A_81, #A_85, #A_89, #A_93, #A_97, #A_101, #A_105, #A_109, #A_113 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_3, #A_5, #A_9, #A_13, #A_17, #A_21, #A_25, #A_29, #A_33, #A_37, #A_41, #A_45, #A_49, #A_53, #A_57, #A_61, #A_65, #A_69, #A_73, #A_77, #A_81, #A_85, #A_89, #A_93, #A_97, #A_101, #A_105, #A_109, #A_113*/

#A_7, #A_11, #A_19, #A_27, #A_35, #A_43, #A_51, #A_59, #A_67, #A_75, #A_83, #A_91, #A_99, #A_107 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_7, #A_11, #A_19, #A_27, #A_35, #A_43, #A_51, #A_59, #A_67, #A_75, #A_83, #A_91, #A_99, #A_107*/

#A_15, #A_23, #A_39, #A_55, #A_71, #A_87, #A_103 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_15, #A_23, #A_39, #A_55, #A_71, #A_87, #A_103*/

#A_31, #A_47, #A_79, #A_111 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_31, #A_47, #A_79, #A_111*/

#A_63, #A_95 {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(66, 139, 202);
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(66, 139, 202);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(66, 139, 202) none 0px;
}/*#A_63, #A_95*/

#LI_112 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    white-space: nowrap;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_112*/

#LI_112:after {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline;
    height: auto;
    white-space: nowrap;
    width: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    content: '';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_112:after*/


</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 visible-xs-block">
        Contributors:
        	<ol id="OL_1">
	<li id="LI_2">
		 <a href="/alh38/" id="A_3">Tim Errington</a>
	</li>
	<li id="LI_4">
		 <a href="/kw6hh/" id="A_5">Elizabeth Iorns</a>
	</li>
	<li id="LI_112">
		 <a href="" id="A_113">and 54 others</a>
	</li>
</ol><br><br>
<div>Date Created: 2013-10-08 07:31 PM | Last Updated: 2014-09-09 04:41 PM </div><br>
<div>Description: We are conducting a study to investigate the replicability of cancer biology studies. The top 50 most impactful cancer biology studies published between 2010-2012 are being replicated by the Science Exchange network.</div>
		</div>
        <div class="col-sm-12 hidden-xs">
			<ol id="OL_1">
	<li id="LI_2">
		 <a href="/alh38/" id="A_3">Tim Errington</a>
	</li>
	<li id="LI_4">
		 <a href="/kw6hh/" id="A_5">Elizabeth Iorns</a>
	</li>
	<li id="LI_6">
		 <a href="/axnuc/" id="A_7">William Gunn</a>
	</li>
	<li id="LI_8">
		 <a href="/ebq8h/" id="A_9">Fraser Elisabeth Tan</a>
	</li>
	<li id="LI_10">
		 <a href="/cdi38/" id="A_11">Brian A. Nosek</a>
	</li>
	<li id="LI_12">
		 <a href="/iaucv/" id="A_13">Stuart Buck</a>
	</li>
	<li id="LI_14">
		 <a href="/rhz6b/" id="A_15">Erin Griner</a>
	</li>
	<li id="LI_16">
		 <a href="/7jv2k/" id="A_17">Mathew Veal</a>
	</li>
	<li id="LI_18">
		 <a href="/8nehp/" id="A_19">Michael McCarthy</a>
	</li>
	<li id="LI_20">
		 <a href="/8wd36/" id="A_21">Samuel LaBarge</a>
	</li>
	<li id="LI_22">
		 <a href="/wv7nf/" id="A_23">Hyun Yong Jin</a>
	</li>
	<li id="LI_24">
		 <a href="/v8awq/" id="A_25">Christine Schaner Tooley</a>
	</li>
	<li id="LI_26">
		 <a href="/2t3gj/" id="A_27">Claudia-Gabriela Mitrofan</a>
	</li>
	<li id="LI_28">
		 <a href="/my76z/" id="A_29">Tim Smith</a>
	</li>
	<li id="LI_30">
		 <a href="/cby8e/" id="A_31">Robert L Judson</a>
	</li>
	<li id="LI_32">
		 <a href="/a59jk/" id="A_33">Matthew Cook</a>
	</li>
	<li id="LI_34">
		 <a href="/kr47s/" id="A_35">Sarah Statt</a>
	</li>
	<li id="LI_36">
		 <a href="/xyrwg/" id="A_37">Nicole Vasilevsky</a>
	</li>
	<li id="LI_38">
		 <a href="/8m9vq/" id="A_39">Stefano Biressi</a>
	</li>
	<li id="LI_40">
		 <a href="/9wpf2/" id="A_41">Kevin Poindexter</a>
	</li>
	<li id="LI_42">
		 <a href="/khuzj/" id="A_43">Nimet Maherali</a>
	</li>
	<li id="LI_44">
		 <a href="/ru9vm/" id="A_45">Kartoa Chow</a>
	</li>
	<li id="LI_46">
		 <a href="/iusvr/" id="A_47">Heidi Hilton</a>
	</li>
	<li id="LI_48">
		 <a href="/bzui4/" id="A_49">Hildegard Mack</a>
	</li>
	<li id="LI_50">
		 <a href="/b3v28/" id="A_51">Teresa Krieger</a>
	</li>
	<li id="LI_52">
		 <a href="/thrmq/" id="A_53">Minyoung Anna Lim</a>
	</li>
	<li id="LI_54">
		 <a href="/w3he4/" id="A_55">Miguel A. S. Cavadas</a>
	</li>
	<li id="LI_56">
		 <a href="/crpn7/" id="A_57">Michael V. Gormally</a>
	</li>
	<li id="LI_58">
		 <a href="/78ix9/" id="A_59">David A. Russler-Germain</a>
	</li>
	<li id="LI_60">
		 <a href="/us43q/" id="A_61">Lidia López Serra</a>
	</li>
	<li id="LI_62">
		 <a href="/dmwzx/" id="A_63">Courtney Ray</a>
	</li>
	<li id="LI_64">
		 <a href="/c3yg9/" id="A_65">Jeff Grant</a>
	</li>
	<li id="LI_66">
		 <a href="/3q4cv/" id="A_67">Luisa Pedro</a>
	</li>
	<li id="LI_68">
		 <a href="/t4nhj/" id="A_69">Claire Agius</a>
	</li>
	<li id="LI_70">
		 <a href="/un5pk/" id="A_71">Wanwan Yang</a>
	</li>
	<li id="LI_72">
		 <a href="/p9jwu/" id="A_73">Jessica Bullenkamp</a>
	</li>
	<li id="LI_74">
		 <a href="/js35i/" id="A_75">Aris Polyzos</a>
	</li>
	<li id="LI_76">
		 <a href="/stbj8/" id="A_77">Jonathan Joy-Gaba</a>
	</li>
	<li id="LI_78">
		 <a href="/j2xpw/" id="A_79">Ronald James Hause</a>
	</li>
	<li id="LI_80">
		 <a href="/utxcw/" id="A_81">Antoine de Morrée</a>
	</li>
	<li id="LI_82">
		 <a href="/ht9a3/" id="A_83">Eileen Dareng</a>
	</li>
	<li id="LI_84">
		 <a href="/xeduv/" id="A_85">Michael Benzinou</a>
	</li>
	<li id="LI_86">
		 <a href="/agp9k/" id="A_87">Matthew Lam</a>
	</li>
	<li id="LI_88">
		 <a href="/7vgj2/" id="A_89">Alex W Hewitt</a>
	</li>
	<li id="LI_90">
		 <a href="/3msr6/" id="A_91">Sally N Akarolo-Anthony</a>
	</li>
	<li id="LI_92">
		 <a href="/f8nr5/" id="A_93">Gurpreet Dhami</a>
	</li>
	<li id="LI_94">
		 <a href="/pjqdb/" id="A_95">Deepika Arora</a>
	</li>
	<li id="LI_96">
		 <a href="/e438x/" id="A_97">Lindsey Taylor Brinton</a>
	</li>
	<li id="LI_98">
		 <a href="/9qzgu/" id="A_99">Ashwin Unnikrishnan</a>
	</li>
	<li id="LI_100">
		 <a href="/tjuf6/" id="A_101">Stephanie Newman</a>
	</li>
	<li id="LI_102">
		 <a href="/5u98x/" id="A_103">Brandon Steelman</a>
	</li>
	<li id="LI_104">
		 <a href="/6mjzx/" id="A_105">Ioannis Zervantonakis</a>
	</li>
	<li id="LI_106">
		 <a href="/bdi7c/" id="A_107">Annika Eriksson</a>
	</li>
	<li id="LI_108">
		 <a href="/x8jfz/" id="A_109">Nora Deniz Yucel</a>
	</li>
	<li id="LI_110">
		 <a href="/fp6b2/" id="A_111">Darrell J Ratcliffe</a>
	</li>
	<li id="LI_112">
		 <a href="/z7mt6/" id="A_113">Anne Allison</a>
	</li>
</ol><br><br>
<div>Date Created: 2013-10-08 07:31 PM | Last Updated: 2014-09-09 04:41 PM </div><br>
<div>Description: We are conducting a study to investigate the replicability of cancer biology studies. The top 50 most impactful cancer biology studies published between 2010-2012 are being replicated by the Science Exchange network.</div>
		</div>
        </div>
    </div>
</div>